@model GModel.Basic.UserInfo
<div class="tabcontant">
    @using (Ajax.BeginForm("AddUserForm", "User", FormMethod.Post, new AjaxOptions()))
{
    <table class="tableForm1" id="endUser">
        <tr>
            <td class="field"><i>*</i>登录名</td>
            <td>
                @Html.TextBoxFor(m => m.UserLname, new { @class = "easyui-textbox", @style = "width:180px;" })
            </td>
            <td class="field"><i>*</i>用户名称</td>
            <td>
                @Html.TextBoxFor(m => m.UserName, new { @class = "easyui-textbox", @style = "width:180px;" })
            </td>
        </tr>
        <tr>
            <td class="field"><i>*</i>用户角色</td>
            <td>
                @Html.TextBoxFor(m => m.RoleId, new { @class = "easyui-combobox", panelheight = "100", id = "UserRole", @style = "width:180px;" })
            </td>
            <td class="field"><i>*</i>所属企业</td>
            <td id="TDDEPT">
                @Html.TextBoxFor(m => m.EnterId, new { @class = "easyui-combotree", panelheight = "150", @style = "width:180px;" })
            </td>
        </tr>
        <tr>
            <td class="field"><i>*</i>密码</td>
            <td>
                @Html.PasswordFor(m => m.UserPasswrd, new { @class = "easyui-textbox", @style = "width:180px;" })
            </td>
            <td class="field"><i>*</i>确定密码</td>
            <td>
                @Html.PasswordFor(m => m.UserRePasswrd, new { @class = "easyui-textbox", @style = "width:180px;" })
            </td>
        </tr>
        <tr>
            <td class="field">移动电话</td>
            <td>
                @Html.TextBoxFor(m => m.UserPhone, new { @class = "easyui-textbox", @style = "width:180px;" })

            </td>
            <td class="field">邮箱</td>
            <td>
                @Html.TextBoxFor(m => m.UserEmail, new { @class = "easyui-textbox", @style = "width:180px;" })

            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="checkbox" id="UserFunct" name="UserFunct1" value="InstallCar"><label for="UserFunct">手机是否只限装车</label>
            </td>
            <td></td>
            <td>
                <input type="checkbox" id="UserFunct" name="UserFunct2" value="SendCmd"><label for="UserFunct">手机限制发送指令</label>
            </td>
            <td></td>
        </tr>
    </table>
        <div class="formfooter" style="margin-left:-10px;">
            <button class="stdbtn btn_blue" type="submit" onclick="return validate()">确定</button>
            <button class="stdbtn btn_default" type="button" onclick="clearForm()">取消</button>
        </div>
        <div>@Html.ValidationSummary(true, "")</div>
    }
</div>
<script src="~/assets/javascripts/Common.js"></script>
<script type="text/javascript">
    function validate() {
        var msg = [];
        var userlname = $("#UserLname").val();
        if (userlname == "")
        {
            msg.push("登录名不能为空！");
        }
        var username = $("#UserName").val();
        if(username=="")
        {
            msg.push("用户名称不能为空！");
        }
        var roleid = $('#UserRole').combobox('getValue');
        if (roleid == "" || roleid == null)
        {
            msg.push("用户角色不能为空！");
        }
        var enterid = $('#EnterId').combotree('getValue');
        if (enterid == "" || enterid == null) {
            msg.push("所属企业不能为空！");
        }
        var pwd = $('#UserPasswrd').val();
        if (pwd == "")
        {
            msg.push("密码不能为空！");
        }
        var repwd = $('#UserRePasswrd').val();
        if (repwd == "") {
            msg.push("确定密码不能为空！");
        }
        if (pwd!=repwd)
        {
            msg.push("密码与确定密码不一致！");
        }
        if (msg.length > 0) {
            window.parent.$.messager.alert("提示",msg.join("\r\n"),"info");
            return false;
        }
    }

    function clearForm() {
        window.parent.$(".dialog").dialog('close');
    }

    $(function () {
        $("input, textarea, select").uniform();
        $('#UserRole').combobox({
            url: '/RoleInfo/GetRoleTree',
            filter: function (q, row) {
                var opts = $(this).combobox('options');
                return row[opts.textField].indexOf(q) > -1;
            },
            valueField: 'RoleId',
            textField: 'RoleName',
            editable: true,
            onLoadSuccess: function () {
                var data = $('#UserRole').combobox('getData');
                if (data.length > 0) {
                    $('#UserRole').combobox('select', data[0].RoleId);
                }
            }
        });

        $("#EnterId").combotree({
            url: '/Dept/GetOrgNode',
            queryParams: { isTree: "tree" },
            animate: true,
            lines: true,
            editable: true,
            onLoadSuccess: function () {

            }
        });

        BindSearchEvent($("#TDDEPT .textbox-text"), $('#EnterId'));
        /*
        $("#TDDEPT .textbox-text")
        .attr("title", "输入关键字，点击回车键，进行检索。")
        .bind("input keydown",
            function (e) {
                if (e.keyCode == "13") {
                    $('#EnterId').combotree('tree').tree("search", $(this).val());
                    if ($(this).val() == "" || $(this).val() == null) {
                        $('#EnterId').combotree('tree').tree("collapseAll");
                    }
                }
            }
        );
        */
    })

    function submitFormSucceed() {
        var ifr = window.parent.document.getElementById('/User/UserList');
        var win = ifr.window || ifr.contentWindow;
        win.$('#StaffTable').datagrid('reload');
        window.parent.$(".dialog").dialog('close');
        window.parent.$.messager.show({
            title: '提示',
            msg: "添加成功！",
            timeout: 2000,
        });
    }
    function submitFormError(info) {
        var errormsg = "";
        if (info != "" && info != null) {
            errormsg = info + ",添加失败！";
        }
        else {
            errormsg = "添加失败！";
        }
        window.parent.$(".dialog").dialog('close');
        window.parent.$.messager.show({
            title: '提示',
            msg: errormsg,
            timeout: 2000,
        });
    }
</script>


<style>
    #endUser i {
        color: red;
    }
</style>
